body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  height: 400px;
  margin: 50px;
  filter: drop-shadow(0 0 20px #00d9ff);
}

.menu {
  z-index: 2;
}

.info {
  margin-top: 40px;
}

.center {
  text-align: center;
}

.contact {
  width: 100px;
  margin-bottom: 20px;
}
.socialtext {
  text-align: right;
}

.pcontact {
  margin-top: -20px;
}

.btn {
  background-color: none;
}